.ql-container{
  width: 70%;
  background: #FFF;
  /* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5); */
  margin: 10px auto 10px auto !important;
  border:1px solid #c7c7c7 !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 66px;
    border-radius:4px;
    border-top:0px;
    z-index: 3;
    background: #edf2fa;
    border: none !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }

  .navbar{
    display: flex;
    background-color:white !important;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .navbar .left-side{
   margin-left:40px;
   margin-top:15px;
  }
  .navbar .right-side{
   margin-right:60px;
   margin-top:15px;
  }
 .rename_area{
    display: flex;
     

 }
 .logo{
    font-size:38px;
 }
 #united_text{
    border:0px solid !important;
    margin-left:10px;
    font-size: 15px;
    color:#595a5a;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

 }
 #united_text:hover{
    border: 1px solid #aca9a9cc;
 } 

.righttray{
   display:flex;
}
.righttray .chat{
   margin-left:20px;
   cursor:pointer;
}

.righttray .profile{
   margin-left:10px;
   cursor:pointer;

}
.righttray .logs{
   margin-left:10px;
   cursor:pointer;

}
.custom-modal {
   
   margin-top: -40vh !important;
 }
.custom-modal2 {
   
   margin-top: -20vh !important;
 }
 .room_name{
   margin-top:10px !important;
 }
 .room_key {
   margin-top:22px !important;
 }
 .create_room{
   margin-top:10px !important;
 }
 .nav_button{
   height:35px !important;
   margin-top:6px !important;
   line-height:1rem !important;
 }
 .scrollbar-container::-webkit-scrollbar {
   width: 0.5rem;
 }
 
 /* Style the track */
 
 .scrollbar-container::-webkit-scrollbar-track {
   background-color: #f1f1f1;
 }
 
 /* Style the thumb */
 .scrollbar-container::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 0.25rem;
 }
 
 /* Change thumb color on hover */
 .scrollbar-container::-webkit-scrollbar-thumb:hover {
   background-color: #555;
 }

 


 